<div class="container">
    <h2 class="page-header">Add Employee details</h2>
    <form (submit) = "addContact()">
        <div class="form-group">
            <label >Name</label>
            <input type="text" [(ngModel)] = "name" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label >AGE</label>
            <input type="text" [(ngModel)] = "age" name="age" class="form-control">
        </div>
        <div class="form-group">
            <label >Phone</label>
            <input type="text" [(ngModel)] = "phone" name="phone" class="form-control">
        </div>
        <div class="form-group">
            <label >Gender</label>
            <input type="text" [(ngModel)] = "gender" name="gender" class="form-control">
        </div>
        <input type="submit" value="Add">
    </form>
</div>

<hr>


  <div class="container">
        <input type="text" placeholder="enter phone no." [(ngModel)]= "ph" >  

        <div class="col-md-3">
                <button (click)="getContact(ph)" >getcontact</button>
              </div>
        <div *ngFor= "let contact of contacts">
<div class="col-md-3">
    {{contact.name}}
</div>
<div class="col-md-3">
    {{contact.age}}
</div>
<div class="col-md-3">
    {{contact.phone}}
</div>
<div class="col-md-3">
    {{contact.gender}}
</div>
</div>
</div> 